/* Main Body and Nav Menu Styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.nyt-masthead {
  text-align: center;
  margin: 20px auto 6px;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar ul {
  margin: 10px 0 5px;
}

.navbar li {
  display: inline;
  padding-right: 7px;
}

.navbar a {
  text-decoration: none;
  color: #000000;
}

.date {
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 10px 0 0;
  padding-top: 5p;
  color: lightgray;
  opacity: 0.3;
}

/* Main Grid Styles */

.grid__container {
  display: grid;
  grid-template-areas: 
    "header header"
    "main sidebar"
    "other-news other-news"
    "smarter-living smarter-living"
    "features features"
    "discovery discovery"
    "most-popular most-popular"
    "news news"
    "footer footer";
  grid-template-rows: auto;
  grid-template-columns: 400px 200px;
}

.grid__section {
  border: 1px solid #333333;
}

.grid__section-1 {
  grid-area: header;
}

.grid__section-2 {
  grid-area: main;
}

.grid__section-3 {
  grid-area: sidebar;
}

.grid__section-4 {
  grid-area: other-news;
}

.grid__section-5 {
  grid-area: smarter-living;
}

.grid__section-6 {
  grid-area: features;
}

.grid__section-7 {
  grid-area: discovery;
}

.grid__section-8 {
  grid-area: most-popular;
}

.grid__section-9 {
  grid-area: news;
}

.grid__section-10 {
  grid-area: footer;
}
/* Grid Section 1 - Flex Styles */

.flex-container-1 {
  display: flex;
  height: 85px;
  /* flex-direction: inline; */
} 

.flex__item {
  display: flex;
  height: inherit;
}

.flex__item-1,
.flex__item-2,
.flex__item-3 {
  flex-grow: 2;
}

.flex__item-4,
.flex__item-5 {
  flex-grow: .05;
}

/* Grid Section 2 - Nested Grid Styles */

.grid__section-2 {
  display: grid;
  grid-row: repeat(7);
  grid-column: repeat(5, 1fr);
  grid-template-areas:
    "G2-1 G2-1 G2-1 G2-1 G2-1"
    "G2-2 G2-2 G2-3 G2-3 G2-3"
    "G2-4 G2-4 G2-4 G2-4 G2-4"
    "G2-5 G2-5 G2-5 G2-5 G2-5"
    "G2-6 G2-6 G2-6 G2-6 G2-6"
    "G2-7 G2-7 G2-7 G2-8 G2-8"
    "G2-9 G2-9 G2-9 G2-9 G2-9";
}

.flex__item, 
.grid__item {
  border: 1px solid #333333;
}

.grid__item-2-1 {
  grid-area: G2-1;
  height: 480px;
  background-color: pink;
  /* grid-column: 2fr, 3fr; */
}

.grid__item-2-2 {
  height: 200px;
  grid-area: G2-2;
  background-color: lightblue;
  /* grid-column: 2fr; */
}

.grid__item-2-3 {
  height: 200px;
  grid-area: G2-3;
  background-color: yellow;
  /* grid-column: 3fr; */
}

.grid__item-2-4 {
  height: 150px;
  grid-area: G2-4;
  background-color: lightgreen;
}

.grid__item-2-5 {
  height: 350px;
  grid-area: G2-5;
  background-color: darkblue;
}

.grid__item-2-6 {
  height: 480px;
  grid-area: G2-6;
  background-color: gold;
}

.grid__item-2-7 {
  height: 200px;
  grid-area: G2-7;
  background-color: violet;
}

.grid__item-2-8 {
  height: 200px;
  grid-area: G2-8;
  background-color: lightgray;
}

.grid__item-2-9 {
  height: 200px;
  grid-area: G2-9;
  background-color: lightsteelblue;
}


/* Grid Section 3 Styles */

.grid__section-3 {
  display: grid;
  grid-row: auto;
  grid-column: 1fr 1fr;
  grid-template-areas: 
  "G3-1 G3-1"
  "G3-2 G3-2"
  "G3-3 G3-4"
  "G3-5 G3-5"
  "G3-6 G3-6"
  "G3-7 G3-7";
}

.grid__item-3-1 {
  height: 200px;
  grid-area: G3-1;
  background-color: lightsteelblue;
}

.grid__item-3-2 {
  height: 290px;
  grid-area: G3-2;
  background-color: lightslategrey;
}

.grid__item-3-3 {
  height: 760px;
  grid-area: G3-3;
  background-color: lightsteelblue;
}

.grid__item-3-4 {
  height: 760px;
  grid-area: G3-4;
  background-color: lightslategray;
}

.grid__item-3-5 {
  height: 330px;
  grid-area: G3-5;
  background-color: lightsteelblue;
}

.grid__item-3-6 {
  height: 240px;
  grid-area: G3-6;
  background-color: lightslategray;
}

.grid__item-3-7 {
  height: 240px;
  grid-area: G3-7;
  background-color: lightsteelblue;
}


/* Remaining Section Styles */

.grid__section-4 {
  height: 590px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "G4-1 G4-1 G4-2 G4-2 G4-3"
    "G4-1 G4-1 G4-2 G4-2 G4-3"
    "G4-1 G4-1 G4-3 G4-3 G4-3"
    "G4-1 G4-1 G4-2 G4-2 G4-3"
    "G4-1 G4-1 G4-2 G4-2 G4-3"
    "G4-1 G4-1 G4-2 G4-2 G4-3";
}



/* Responsive Styles */

@media (min-width:1024px) {
  .nyt-masthead {
    width: 430px;
    height: 58px;
  }
}

@media (max-width: 1023px) {
  .navbar {
    display: none;
  }
  .nyt-masthead {
    width: 225px;
    height: 31px;
    margin: 3px auto 0px;
  }
}
